# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/bin/

# Data
/data_in/
/data_out/
*.jpg

# cmake
CMakeFiles
bin
cmake_install.cmake
Makefile
!CMakeLists.txt
CMakeCache.txt

*.bmp
/results/
.cproject.old